body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin-top: 200px;
    margin-left: calc(50% - 500px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    display: inline-block;
    margin-left: 23px;
    margin-right: 23px;
    width: 200px;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #E05E46;
}

p {
    margin-top: 20px;
    text-align: center;
    color: #919191;
}