body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin-top: 200px;
    margin-left: calc(50% - 500px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    display: inline-block;
    margin-left: 23px;
    margin-right: 23px;
    width: 200px;
}

img {
    width: 200px;
    height: 200px;
    padding: 40px;
    position: relative;
}

.img-1 {
    background-color: #70C0C9;
}

.img-2 {
    background-color: #4074BD;
}

.img-3 {
    background-color: #E05E46;
}

.img-4 {
    background-color: #919191;
}

.column-1, .column-2, .column-3, .column-4 {
    position: relative;
}

.num-1, .num-2, .num-3, .num-4 {
    border: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    position: absolute;
    background-color: #fff;
    top: -25px;
    left: -50px;
}

.num-1 {
    border: 5px solid #70C0C9;
    color: #70C0C9;
}

.num-2 {
    border: 5px solid #4074BD;
    color: #4074BD;
}

.num-3 {
    border: 5px solid #E05E46;
    color: #E05E46;
}

.num-4 {
    border: 5px solid #919191;
    color: #919191;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    color: #E05E46;
}

p {
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    color: #919191;
}